{% extends "findings/base.html" %}

{% from "macros.html" import render_form %}
{% block body %}

    <div class="row mt-3 pl-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-9">
                    <h2>Translations</h2>
                </div>

                <div class="col-3">
                    <a href="{{ url_for('.add_translation', finding_id=finding.id, next=request.path) }}"
                       class="btn btn-primary btn-success float-right">
                        <span class="fa fa-plus"></span> Add
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    {% if finding.langs %}

                        <table id="table_data" class="table table-striped">
                            <thead class="thead-dark">
                            <th>Title</th>
                            <th>Language</th>
                            <th style="width: 20%" class="text-right">Action</th>
                            </thead>
                            <tbody>
                            {% for translation in finding.translations %}
                                <tr>
                                    <td>{{ translation.title }}</td>
                                    <td>{{ translation.lang }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="need-confirm btn btn-danger"
                                               href="{{ url_for('.delete_translation', finding_id=finding.id, language=translation.lang, next=request.path) }}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                            <a class="btn btn-secondary"
                                               href="{{ url_for('.edit_translation', finding_id=finding.id, language=translation.lang, next=request.path) }}">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4 class="text-center">No Translations!</h4>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-9">
                    <h2>Solutions</h2>
                </div>
                <div class="col-3">
                    <a href="{{ url_for('.add_solution', finding_id=finding.id, next=request.path) }}"
                       class="btn btn-primary btn-success float-right">
                        <span class="fa fa-plus"></span> Add
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">

                    {% if finding.solutions %}
                        <table id="table_data" class="table table-striped">
                            <thead class="thead-dark">
                            <th>Name</th>
                            <th>Language</th>
                            <th style="width: 20%" class="text-right">Action</th>
                            </thead>
                            <tbody>
                            {% for solution in finding.solutions %}
                                <tr>
                                    <td>{{ solution.name }}</td>
                                    <td>{{ solution.lang }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="need-confirm btn btn-danger"
                                               href="{{ url_for('.delete_solution', finding_id=finding.id, solution_name=solution.name, next=request.path) }}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                            <a class="btn btn-secondary"
                                               href="{{ url_for('.edit_solution', finding_id=finding.id, solution_name=solution.name, next=request.path) }}">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                            <a class="btn btn-primary"
                                               href="{{ url_for('.add_solution', finding_id=finding.id, solution_name=solution.name, next=request.path) }}">
                                                <span class="fa fa-copy"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4 class="text-center">No Solutions!</h4>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-9">
                    <h2>CVSS Score</h2>
                </div>
            </div>
            <div class="row mt-3">
                <div id="cvss4board" class="mb-5">
                    <div id="cvss4-form">
                        <form id="cvss4">
                            <h3>Base Metrics</h3>
                            <label for="attackVector">Attack Vector (AV):</label>
                            <select id="attackVector" name="AV" onchange="updateCVSS4Vector()" required="required">
                                <option value="N" selected>Network (N)</option>
                                <option value="A">Adjacent (A)</option>
                                <option value="L">Local (L)</option>
                                <option value="P">Physical (P)</option>
                            </select><br>
                    
                            <label for="attackComplexity">Attack Complexity (AC):</label>
                            <select id="attackComplexity" name="AC" onchange="updateCVSS4Vector()" required="required">
                                <option value="L" selected>Low (L)</option>
                                <option value="H">High (H)</option>
                            </select><br>
    
                            <label for="attackRequirements">Attack Requirements (AT):</label>
                            <select id="attackRequirements" name="AT" onchange="updateCVSS4Vector()" required="required">
                                <option value="N" selected>None (N)</option>
                                <option value="P">Present (P)</option>
                            </select><br>
                    
                            <label for="privilegesRequired">Privileges Required (PR):</label>
                            <select id="privilegesRequired" name="PR" onchange="updateCVSS4Vector()" required="required">
                                <option value="N" selected>None (N)</option>
                                <option value="L">Low (L)</option>
                                <option value="H">High (H)</option>
                            </select><br>
                    
                            <label for="userInteraction">User Interaction (UI):</label>
                            <select id="userInteraction" name="UI" onchange="updateCVSS4Vector()" required="required">
                                <option value="N" selected>None (N)</option>
                                <option value="P">Passive (P)</option>
                                <option value="A">Active (A)</option>
                            </select><br>
                    
                            <label for="confidentiality">Confidentiality (VC):</label>
                            <select id="confidentiality" name="VC" onchange="updateCVSS4Vector()" required="required">
                                <option value="H">High (H)</option>
                                <option value="L">Low (L)</option>
                                <option value="N" selected>None (N)</option>
                            </select><br>
                    
                            <label for="integrity">Integrity (VI):</label>
                            <select id="integrity" name="VI" onchange="updateCVSS4Vector()" required="required">
                                <option value="H">High (H)</option>
                                <option value="L">Low (L)</option>
                                <option value="N" selected>None (N)</option>
                            </select><br>
                    
                            <label for="availability">Availability (VA):</label>
                            <select id="availability" name="VA" onchange="updateCVSS4Vector()" required="required">
                                <option value="H">High (H)</option>
                                <option value="L">Low (L)</option>
                                <option value="N" selected>None (N)</option>
                            </select><br><br>
    
                            <label for="confidentiality">Subsequent Confidentiality (SC):</label>
                            <select id="confidentiality" name="SC" onchange="updateCVSS4Vector()" required="required">
                                <option value="H">High (H)</option>
                                <option value="L">Low (L)</option>
                                <option value="N" selected>None (N)</option>
                            </select><br>
                    
                            <label for="integrity">Subsequent Integrity (SI):</label>
                            <select id="integrity" name="SI" onchange="updateCVSS4Vector()" required="required">
                                <option value="H">High (H)</option>
                                <option value="L">Low (L)</option>
                                <option value="N" selected>None (N)</option>
                            </select><br>
                    
                            <label for="availability">Subsequent Availability (SA):</label>
                            <select id="availability" name="SA" onchange="updateCVSS4Vector()" required="required">
                                <option value="H">High (H)</option>
                                <option value="L">Low (L)</option>
                                <option value="N" selected>None (N)</option>
                            </select><br><br>
                        </form>
                    
                        <h4>CVSS 4.0 Vector:</h4>
                        <pre id="cvss4-vector"></pre>
    
                        <h4>CVSS 4.0 Risk:</h4>
                        <i id="cvss4-risk"></i> (<i id="cvss4-score"></i>)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 pl-lg-5 pr-lg-5">
            <h2>Edit Finding</h2>
            {{ render_form(form) }}
        </div>
    </div>
    <script>
        $(document).ready(function () {

            // Tarlogic - Pre-popular el formulario de CVSS 4.0
            let vector_cvss = $('#cvss_v3_vector').val();
            
            if (vector_cvss.substring(0,9) === 'CVSS:4.0/'){
                populateCVSS4Form(vector_cvss);
            }

        });
    </script>

{% endblock %}